---
# tasks file for roles/win_ad_install
- name: Add AD Domain Services features
  win_feature:
    name: AD-Domain-Services
    state: present

- name: Create Domain
  win_domain:
    dns_domain_name: "{{ ad_domain_name }}"
    safe_mode_password: "{{ safe_password }}"

