---
# tasks file for roles/win_ad_install
- name: Add AD Domain Services features
  win_feature:
    name: AD-Domain-Services
    include_management_tools: yes
    inlcude_sub_features: yes
    state: present

- name: Create Domain
  win_domain:
    dns_domain_name: "{{ ad_domain_name }}"
    safe_mode_password: "{{ ad_safe_mode_password }}"

- name: Reboot DC
  win_reboot:
  when: active_directory_controllers.reboot_required

- win_shell: "nltest /dclist:{{ ad_domain_name }}"
  register: domain_list

- name: Domain List
  debug:
    var: domain_list